*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
   background-color: #F9F9F9;
}


/* 1st section */

.container-1{
    display: flex;
    justify-content: center;
    padding-left: 84px;
    padding-right: 84px;
    margin: 0 auto;
    max-width: 1272px;

}
    

.box-1{
    background-image: url(./1st-pic.png);
    max-width: 1272px;
    width: 100%;
    height: 559px;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    
}
.box-1-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 57px;
    align-items: flex-start;
    padding-top:218px ;
    padding-bottom: 141px;
    
}
.box-1-content p{
    width: 189px;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
}

h2{
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 19px;
    padding-top: 22px;
}

.color-text1{
color: #4CE0D7;
font-weight: 700;
}

.color-text2{
    color: #8BA9F4;
    font-weight: 700;
}
h5{
    width: 494px;
    height: 72px;
    top: 479px;
    left: 137px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

/* 2nd section */

.container-2{
    display: flex;
    flex-direction: column;
    max-width: 1272px;
    height: 288px;
    padding: 73px 84px;
    margin: 0 auto;
}

.box-2{
    display: flex;
    flex-direction: row;
    height: 204px;
    max-width: 1272px;
    gap: 10px;
    padding-top:48px;
}

.small-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    gap: 25px;
    width: 204px;
    height: 291px;
    top: 849px;
    left: 83px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 6px 0px #0000000D;
}

.small-box img{
width: 100px;
height: 100px;
}

h3{
    font-weight: 700;
    font-size: 36px;
}

h6{
    font-weight: 700;
    font-size: 20px;
}

.button-2{
    color:#262626;
    background-color: #4CE0D7;
    width: 144px;
    height: 36px;
    border-radius: 40px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    padding:10px 40px ;
}
